@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	overflow-x: hidden;

}
body * {
    font: 'Haffer, sans-serif' !important	
    
}

@layer base {
    body {
        @apply dark:bg-[#030712] bg-white;
    }
}
[type=checkbox]:checked, [type=radio]:checked {
   
    background-color: #199888 !important;

}